@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  position: relative;
  font-family: "Raleway";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 0 3.5rem;
  text-align: center;

}

.background {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./img/img-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.logo {
  width: 16dvw;
  height: auto;
  border-radius: 100%;
  border: 2px solid white;
  margin: 2rem 0;
  margin-top: 5rem;
  animation: fadeIn 1.2s ease-in-out both;
  animation-delay: .3s;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1.7rem;
  line-height: 1.5rem;
  animation: fadeIn 1.2s ease-in-out both;
  animation-delay: .5s;

}

strong {
  font-weight: 600;
}

h1 {
  font-size: 1.3rem;
  margin: 1rem 0;
  margin-top: 3rem;
  font-weight: bold;
  animation: fadeIn 1.2s ease-in-out both;
  animation-delay: .7s;
}

button {
  background-color: transparent;
  font-family: 'Raleway';
  background-color: #e63946;
  border: 1px solid #e63946;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: .7rem;
  cursor: pointer;
  transition: .5s ease-in-out;
  animation: fadeIn 1.2s ease-in-out both;
  animation-delay: 1s;
  display: flex;
  align-items: center;
}

button:hover {
  background-color: red;
  border-color: red;
}

.secondary {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  animation: fadeIn 1.2s ease-in-out both;
  animation-delay: 1.2s;
}

.secondary img {
  width: 8rem;
  height: auto;
  cursor: pointer;
}

@media (min-height: 800px) {
  .logo {
    margin-top: 8rem;
  }
}

@media (max-width: 768px) {
  .background {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("./img/img-mobile.jpg");
  }

  .logo {
    width: 35dvw;
    height: auto;
  }
}


@media (max-width: 400px) {
  .container {
    padding: 0 1rem;
  }

  button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }

  .secondary img {
    width: 6rem;
  }

  p,
  h1 {
    font-size: 1rem;
  }
}
